<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>따랑와</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h2>따랑와</h2>
    <h3>3월~11월 성수기 따릉이 재배치 효율상승 서비스</h3>
    <img src="{{ url_for('static', filename='images/moving_bike.gif') }}" alt="Loading Animation" class="center-gif" id="loadingGif">
    
    
    <div class="button-container">
        <a href="{{ url_for('zone1_page') }}"><button>제1권역</button></a>
        <a href="{{ url_for('zone2_page') }}"><button>제2권역</button></a>
    </div>
</body>

</html>