<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>따릉이 권역별 재배치 경로</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>따릉이 권역별 재배치 경로</h1>
    <img src="{{ url_for('static', filename='images/moving_bike.gif') }}" alt="Loading Animation" class="center-gif" id="loadingGif">
    <div class="button-container">
        <a href="{{ url_for('zone_page') }}?zone=zone1"><button>제1권역</button></a>
        <a href="{{ url_for('zone_page') }}?zone=zone2"><button>제2권역</button></a>
    </div>
</body>

</html>