#가상환경 폴더
venv/
.venv/
__pycache__/
.env

# Secrets
secrets/

# Docker -> 배포단계까지 그대로
.dockerignore
; compose.yaml # 로컬 테스트 완료 후 compose.yaml을 ignore하고 build.json으로 배포
build.json

# 임시파일
app_save.py

# 환경 설정(유나)
.vscode/

#gcloud
google-cloud-sdk/
