#가상환경 폴더
venv/
__pycache__/
.env

# 프리젠테이션폴더
img/
../img/

# Secrets
secrets/
*.toml

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# 대용량파일
../rental_management_classification.xlsx
*.xlsx
*.ai
*.psd

# 임시파일
1203.py
1231_yuna.py
app_save.py

# python 환경 설정(유나)
.vscode/
