/* index 페이지 */

.background_img{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    z-index: -1;
}
.scroll {
    overflow: hidden;
}

.item_logo{
    float:right;
    margin: 0px 40px 0px 40px;
    padding: 10px;
    max-width: 150px;
}
.item_list {
    display: flex;
    width: calc(100%-100px);
    max-width: 600px;
    padding: 100px 80px 100px 80px;
    flex-direction: column;
}
.text-section {
    flex: 1;
    width: calc(100% - 100px);
    padding: 20px;
}

.text-section h1 {
    font-size: 3rem;
    color: #01304b;
    margin-bottom: 10px;
}

.text-section h2 {
    font-size: 2vw;
    color: #01304b;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1vw;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
}

/* index 페이지 버튼 */
.button-container {
    display: flex;
    padding: 0px 0px 0px 20px;
    gap: 30px;
}
.button-container button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: #001c27;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-container button:hover {
    background-color: #07c2db;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 0px 40px;
}

header .item_logo{
    float: right;
}

.gohome button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #001c27;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
a:link {
    color : white;
    text-decoration: none;
}
a:visited {
    color : white;
    text-decoration: none;
}
.gohome button:hover {
    background-color: #07c2db;
}

/* 권역 이름 (Title) */
.Title_Zonename {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #001c27;
    font-weight: bold;
    line-height: 0.01;
}


/* 지도와 스케줄 표를 나란히 배치 */
.content-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    margin-top: 20px;
    gap: 10px;
}

/* 시간 입력 폼을 가로 정렬 */
.horizontal-form {
    display: flex; /* 가로 배치 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    gap: 5px; /* 입력 요소 간 간격 */
    margin: 20px 40px 10px 40px; /* 상하 여백 및 가운데 정렬 */
    padding: 10px; /* 내부 여백 */
    border: 1px solid #aadee7; /* 테두리 설정 */
    border-radius: 24px; /* 둥근 모서리 */
    background-color: #f0fdff; /* 명확한 배경색 */
}

.horizontal-form select {
    padding: 10px;
    font-size: 14px;
    margin-right: 20px;
    border: 1px solid #aadee7;
    border-radius: 24px;
    background-color: #ffffff; /* 드롭다운 배경색 */
    cursor: pointer;
}

.horizontal-form label {
    font-size: 16px;
    margin-right: 10px; /* 입력 필드와 레이블 간 간격*/ 
}

.horizontal-form input {
    width: 100px; /* 입력 필드의 고정 너비 */
    /* padding: 5px; */
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 24px;
}
@keyframes colorChange {
    100% { background-color: #001c27; }
    50% { background-color: #07c2db; }
    100% { background-color: #001c27; }
}

.horizontal-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #001c27;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.horizontal-form button#create_traffic_route_btn {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #001c27;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    animation: colorChange 1.5s infinite;
}
.horizontal-form button[type="submit"]:hover {
    background-color: #07c2db;
}

.horizontal-form button#create_traffic_route_btn:hover {
    background-color: #07c2db;
    animation: none; /* 호버 시 깜박임 중지 */
}

/* 클릭 후 상태를 위한 새로운 클래스 */
.clicked {
    background-color: #001c27 !important;
    animation: none !important;
}


/* 지도 스타일 */
#map_div {
    width: 60%; 
    height: 850px;
    margin-left: 40px;
    display: block;
    border-radius: 24px;
    position: relative; /* 지도 렌더링을 보장하기 위한 위치 설정 */
}


/* 스케줄 표 스타일 */
.schedule {
    width: 60%;
    padding: 20px;
    border: 1px solid #aadee7;
    border-radius: 24px;
    margin-right: 40px;
    background-color: #ffffff;
    display: block;
    overflow-y: auto; /* 데이터가 많을 경우 스크롤 허용 */
    text-align: center;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    text-align: center;
    border: 1px solid #aadee7;
    padding: 8px;
}

th {
    text-align: center;
    background-color: #f0fdff;
    font-weight: bold;
}




/* 작은 화면 대응 */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* 세로로 배치 */
        align-items: center;
    }

    #map_div {
        width: 100%; /* 지도가 화면 전체 너비를 차지 */
        height: 400px;
    }

    .schedule {
        width: 10%;
        margin-top: 20px;
    }
}